<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
    </head>
    <body>
        <div>
            <canvas id="blackWhite"></canvas>
        </div>
    </body>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript">
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });
    // is this global?
    var reversi = new Reversi('blackWhite');    
    
    function render(chessboardJSON) {
        reversi.drawChesses(JSON.parse(chessboardJSON));
    }
    const chessboard = '{{ chessboard|safe }}';
    render(chessboard.substring(1, chessboard.length - 1));
    reversi.canvas.addEventListener('click', e => {
        let offset = reversi.canvas.getBoundingClientRect();
        let x = Math.floor((e.clientX - offset.left) / reversi.cellWidth);
        let y = Math.floor((e.clientY - offset.top) / reversi.cellWidth);

        console.log(x, y, 'click position(X, Y)');
        // row, col
        reversi.drawDot(y, x, reversi.R, reversi.positive);
        $.ajax({
            type: 'POST',
            url: "{% url 'index' %}",
            async: true,
            data: {
                row: y,
                col: x,
                player: reversi.positive
            },
            success: function f(response) {
                window.setTimeout(function() {
                    render(response);
                }, 200);
            }
        });
        /*
        if(reversi.positive === 'black') {
            reversi.positive = 'white';
        } else {
            reversi.positive = 'black';
        }
        */
    }, false);

</script>
</html>
