<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            body{
                font-size: 36px;
            }
            *{
                padding: 0;
                margin: 0;
            }
            .score {
                text-align: center;
                line-height: 50px;
                height: 50px;
            }
            .buttons {
                text-align: center;
            }
            button{
                font-size: 36px;
                line-height: 50px;
                margin-right: 30px;
                padding: 0 30px;
            }
            div{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <canvas id="blackWhite"></canvas>
        </div>
    </body>
    
<script src="/static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    // 黑白棋  又叫反棋
    class Reversi {
        constructor (canvasId){
            this.canvasId = canvasId;
            this.resetData();
        }
        
        // 重置数据，再来一局
        resetData (){
            var body = document.documentElement || document.body;
            var minWidth = Math.min(body.clientWidth, body.clientHeight);
            // 属性
            this.chesses = null; // 棋子数组 二位数组[[],[]]

            this.rowCount = 8; // 行数

            this.colCount = this.rowCount;// 列数

            this.cellWidth = minWidth/this.rowCount; //每个格子的宽

            this.width = this.rowCount * this.cellWidth; // 棋盘的宽

            this.height = this.width; // 棋盘的高

            this.R = this.cellWidth * 0.4; // 棋子半径

            this.positive = "black"; // 当前走棋方
            this.canvas = document.getElementById(this.canvasId); // canvas DOM
            this.ctx = this.canvas.getContext("2d"); // canvas环境
            
            this.init();
        }
        
        // 初始化数据
        init () {
            this.initCanvas();
            this.renderUi();
        }
        
        // 设置棋盘的宽高
        initCanvas () {
            this.canvas.width = this.width;
            this.canvas.height = this.height;
        }
        
        
        renderUi() {
            //清除之前的画布
            this.ctx.clearRect(0,0,this.width,this.height);
            
            // 重绘画布
            this.drawMap();
            this.drawChesses();
        }
        
        /**
         * x width
         * y height
         *
         */
        drawDot(x, y, r, color) {
            this.ctx.beginPath();
            this.ctx.arc(x, y, r, 0, 2*Math.PI);
            this.ctx.closePath();
            
            this.ctx.fillStyle = color;
            this.ctx.fill();
        }
        
        // 画棋盘
        drawMap() {
            // 背景
            this.ctx.beginPath();
            this.ctx.rect(0,0,this.width,this.height);
            this.ctx.closePath();
            this.ctx.fillStyle = "#ffa5e8";
            this.ctx.fill();
            
            // 画横线
            this.ctx.beginPath();
            for(let i=0;i<this.rowCount;i++) {
                this.ctx.moveTo(0,this.cellWidth*i);
                this.ctx.lineTo(this.cellWidth*this.rowCount,this.cellWidth*i);
            }
            this.ctx.stroke();
            
            // 画纵线
            this.ctx.beginPath();
            for(let i=0;i<this.colCount;i++) {
                this.ctx.moveTo(this.cellWidth*i,0);
                this.ctx.lineTo(this.cellWidth*i,this.cellWidth*this.colCount);
            }
            this.ctx.stroke();
        }
        
        // 画所有的棋子
        drawChesses(){
            var a = ('{{ chessboard|safe }}');
            var chessboardJSON = JSON.parse(a.substring(1, a.length - 1));
            console.log(chessboardJSON);
            this.chesses = chessboardJSON.data;
            for(let i = 0; i<this.chesses.length; i++){
                for(let j = 0; j<this.chesses[i].length; j++){
                    const a = this.chesses[i][j];
                    this.chesses[i][j] = JSON.parse(a);
                    // width x-coordinate
                    // height y-coordinate
                    var x = j * this.cellWidth + this.cellWidth / 2;

                    var y = i * this.cellWidth + this.cellWidth / 2;
                    if(this.chesses[i][j].state === 'black'){
                        this.drawDot(x, y, this.R, 'black');
                    } else if(this.chesses[i][j].state === 'white') {
                        this.drawDot(x, y, this.R, 'white');
                    }
                }
            }
        }
    }
</script>
<script type="text/javascript">
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });

    var offset;
    var reversi = new Reversi("blackWhite");

    reversi.drawChesses();
    reversi.canvas.addEventListener("click", function(e){
        offset = reversi.canvas.getBoundingClientRect();
        var x = Math.floor((e.clientX - offset.left) / reversi.cellWidth);
        var y = Math.floor((e.clientY - offset.top) / reversi.cellWidth);
        console.log(x, y, "click position");
        
        var url = "some url";
         
        $.ajax({
            type: "POST",
            url: "{% url 'index' %}",
            async: true,
            data: {
                row: y,
                col: x,
                player: reversi.positive
            },
            success: function(response) {
                alert("ok");
            }
        });

        if(reversi.positive === 'black') {
            reversi.positive = 'white';
        } else {
            reversi.positive = 'black';
        }
        reversi.drawChesses();
    }, false);
    
</script>
</html>